@import '@styles/_variables.scss';
.textarea-wrapper {
  .textarea {
    background-color: #fff;
    border: 1px solid #bababa;
    border-radius: 8px;
    padding: 14px;
    outline: none;
    width: 100%;
    resize: none;
    &::placeholder {
      color: #959595;
    }
    &:focus {
      border-color: #212121;
    }
  }
  .error {
    color: red;
    margin-top: 8px;
  }
}
