$greyscale10: #000;
$greyscale9: #191919;
$greyscale7: #4e4e4e;
$greyscale6: #bababa;
$greyscale4: #d8d8d8;
$disable: #d8d8d8;
$greyscale3: #eeeeee;
$greyscale2: #f0f0f0;
$greyscale0: #fff;

$main: #8d53ff;
$green: #009f10;
$red: #e86868;
