$greyscale9: #212121;
$greyscale8: #333333;
$greyscale7: #555555;
$greyscale6: #777777;
$greyscale5: #999999;
$greyscale4: #cccccc;
$greyscale3: #dddddd;
$disable: #dddddd;
$greyscale2: #e6e6e6;
$greyscale1: #f6f6f6;
$greyscale0: #fff;
$background: #202020; //bg

$green1: #579883;
$green2: #317a62;
$green3: #186048;
$green4: #064530;
$green5: #002a1d;

$error: #d32f2f;
$warning: #ed6c02;
$info: #0288d1;
$complete: #2e7d32;

$main: #8d53ff;
$green: #009f10;
$red: #e86868;
