@import './common/bootstrap-reboot.css';

@font-face {
  font-family: pretendard;
  font-weight: 100;
  src: url('../../assets/fonts/Pretendard-Thin.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: pretendard;
  font-weight: 200;
  src: url('../../assets/fonts/Pretendard-ExtraLight.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: pretendard;
  font-weight: 300;
  src: url('../../assets/fonts/Pretendard-Light.ttf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: pretendard;
  font-weight: 400;
  src: url('../../assets/fonts/Pretendard-Regular.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: pretendard;
  font-weight: 500;
  src: url('../../assets/fonts/Pretendard-Medium.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: pretendard;
  font-weight: 600;
  src: url('../../assets/fonts/Pretendard-SemiBold.ttf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: pretendard;
  font-weight: 700;
  src: url('../../assets/fonts/Pretendard-Bold.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: pretendard;
  font-weight: 800;
  src: url('../../assets/fonts/Pretendard-ExtraBold.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: pretendard;
  font-weight: 900;
  src: url('../../assets/fonts/Pretendard-Black.ttf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: SansitaOne;
  font-weight: 700;
  src: url('../../assets/fonts/SansitaOne.ttf') format('opentype');
  font-display: swap;
}

body {
  background: #fff !important;
  color: #212121;
  font-family: pretendard, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
  max-width: 768px;
  margin: 0 auto;
  #root {
    height: 100%;
  }
  div {
    max-width: 768px;
  }
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-color: #fff;
  font-family: pretendard, sans-serif !important;
  outline: 0;
}

button {
  outline: none !important;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-family: pretendard, sans-serif !important;

  &:hover {
    cursor: pointer;
  }
}

a {
  cursor: pointer;
  color: #212121;
  &:hover {
    color: currentcolor;
  }
}
hr {
  margin: 0;
}
