.headline1BD {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}
.headline1MD {
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
}
.headline1RG {
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
}
.headline2SB {
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
}
.headline2MD {
  font-size: 22px;
  font-weight: 500;
  line-height: 140%;
}
.headline3BD {
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}
.headline3MD {
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
}
.headline3RG {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}
.title1BD {
  font-size: 18px;
  font-weight: 700;
  line-height: 160%;
}
.title1MD {
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
}
.title1RG {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}
.title2BD {
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
}
.title2MD {
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
}
.title2RG {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
.bodyBD {
  font-size: 14px;
  font-weight: 700;
  line-height: 160%;
}
.bodyMD {
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
}
.bodyRG {
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}
.bodyUL {
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  text-decoration: underline;
}
.captionBD {
  font-size: 12px;
  font-weight: 700;
  line-height: 160%;
}
.captionMD {
  font-size: 12px;
  font-weight: 500;
  line-height: 160%;
}
.captionRG {
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
}
.captionUL {
  font-size: 12px;
  font-weight: 500;
  line-height: 160%;
  text-decoration: underline;
}
.overlineBD {
  font-size: 10px;
  font-weight: 700;
  line-height: 160%;
}
.overlineMD {
  font-size: 10px;
  font-weight: 500;
  line-height: 160%;
}
.button1BD {
  font-size: 18px;
  font-weight: 700;
  line-height: 90%;
}
.button1MD {
  font-size: 18px;
  font-weight: 500;
  line-height: 90%;
}
.button2BD {
  font-size: 16px;
  font-weight: 700;
  line-height: 90%;
}
.button2MD {
  font-size: 16px;
  font-weight: 500;
  line-height: 90%;
}
