@import '@styles/_variables.scss';
.mypage-container {
  .section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    &-border {
      border-bottom: 1px solid $greyscale3;
    }
    &:last-child {
      border: 0;
    }
    .image-container {
      position: relative;
      width: 90px;
      height: 90px;
      border: 1px solid #ddd;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
      .camera-icon {
        position: absolute;
        right: -9px;
        bottom: 0;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.1));
        background-color: #fff;
        border-radius: 50%;
      }
    }
    .name {
      margin-top: 8px;
    }
  }
  .menu-container {
    padding-top: 0;
    .menu-btn {
      width: 100%;
      border-top: 1px solid $greyscale9;
      padding: 16px 0 16px 12px;
      &:last-child {
        border-bottom: 1px solid $greyscale9;
      }
    }
  }
}
