@import '@styles/_variables.scss';
.button {
  border: 0;
  border-radius: 8px;
  padding: 0 4px;
  background-color: grey;
  color: white;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  gap: 8px;
  font-size: 18px;
  font-weight: 500;
  &-primary {
    background-color: $main;
    color: $greyscale0;
  }
  &-ghost {
    background-color: $greyscale0;
    border: 1px solid grey;
    color: grey;
  }
  &-disabled {
    background-color: $disable;
    color: $greyscale0;
  }
  &-isFull {
    width: 100%;
  }
  &-SM {
    height: 44px;
  }
  &-MD {
    padding: 0 8px;
    height: 52px;
  }
  &-LG {
    padding: 0 12px;
    height: 60px;
  }
}
